# Секретный ключ Django
SECRET_KEY=

# Токен вашего бота от @BotFather
TELEGRAM_BOT_TOKEN=

# Ваш Telegram ID (можно узнать у @userinfobot)
TELEGRAM_CHAT_ID=

# Конфигурация базы данных
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Хост и порт для Celery ( для Docker - "redis", для локального запуска - "127.0.0.1"
CELERY_BROKER_HOST=
CELERY_BROKER_PORT=

# Режим отладки
DEBUG=

# Разрешенные хосты
ALLOWED_HOSTS=